@import 'shared';

body, input, textarea {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
}

main {
  max-width: 60%;
  margin: 0 auto;
  padding: 0 1em;
}

a {
  text-decoration: underline;

  &:hover {
    color: $green;
  }

  &:visited {
    color: $darkBlue;

    &:hover {
      color: $green;
    }
  }
}

.alert {
  padding: 0.5em 1em;
  
  &.success {
    background-color: $transparentGreen;
    border: 1px solid $green;
    color: $textGreen;
  }

  &.danger {
    background-color: $transparentRed;
    border: 1px solid $red;
    color: $textRed;
  }
}
