@import 'shared';

header {
  @include flex-center;
  background-color: $darkBlue;
  padding: 1em;
  
  .home-link {
    font-family: 'Nerko One', cursive;
    font-size: 2.5em;
    color: $lightText;
  }
  
  nav {
    .nav-link {
      padding: 0.5em 1em;
      color: $lightText;
      text-decoration: none;

      &:hover {
        background-color: $lightBlue;
        color: $darkBlue;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      
      li {
        display: inline;
      }
    }
  }
}
