// colours
$yellow: rgb(226, 212, 103);
$red: rgb(219, 105, 120);
$transparentRed: rgba(219, 105, 120, 0.1);
$textRed: rgb(152,37,37);
$darkBlue: rgb(57, 82, 145);
$transparentDarkBlue: rgba(57, 82, 145, 0.9);
$lightBlue: rgb(148, 208, 255);
$lightText: rgb(240,249,255);
$green: rgb(65, 191, 71);
$transparentGreen: rgba(65, 191, 71, 0.1);
$textGreen: rgb(38,78,29);
$black: rgb(33, 33, 43);
$lightGrey: rgb(184, 182, 176);
$primaryBorder: 1px solid $lightBlue;
$secondaryBorder: 1px solid $lightGrey;

// buttons
.button, input.button {
  padding: 0.75em 1.25em;
  border: none;
  border-radius: 5px;
  color: $lightText;
  text-transform: uppercase;
  font-size: 0.9em;

  &:hover {
    background-color: $darkBlue;
    transform: scale(1.07);
    transition: all 0.3s ease-in-out;
  }

  &.primary-button {
    background: $transparentDarkBlue;
  }

  &.secondary-button {
    color: $darkBlue;
    background-color: $lightBlue;
  }

  &.alert-button {
    background: $red;
  }

  &.success-button {
    background: $green;
  }
}

// sizes
$innerPadding: 0.75rem 1rem;

// screen sizes
$mobile: 320px;
$tablet: 480px;
$smallScreen: 768px;
$largeScreen: 1024px;
$extraLargeScreen: 1200px;

// layout
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// screen reader only
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
